[Unit]
Description=Load v4l2loopback kernel module
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/modprobe v4l2loopback
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

