@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 20px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: transparent;
  margin: 0px;
}

#window {
  background-color: transparent;
  color: @white;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

window#waybar.empty #window {
  background-color: transparent;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  color: #d982ab;
  border-radius: 0rem;
  padding: 0.4rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

#workspaces button.urgent {
  color: @red;
  border-radius: 0rem;
}

#workspaces button.active {
  color: #d982ab;
  border-radius: 0rem;
}

#workspaces button.visible {
  color: #d982ab;
  border-radius: 0rem;
  border-top: 3px solid #d982ab;
}

#workspaces button.empty {
  color: #d982ab;
  border-radius: 0rem;
}

#memory {
  color: #dfac19;
}

#cpu {
  color: #d4cc66;
}

#temperature {
  color: #fe6b7e;
}

#pulseaudio {
  color: #a98aea;
}

#network {
  color: #e8bee8;
}

#battery {
  color: #d982ab;
}

#clock {
  color: #d982db;
}

#tray {
  color: #ccbbdb;
}

#custom-notification {
  color: #bc998d;
}

#custom-lock,
#custom-quit,
#custom-reboot,
#custom-power {
  color: #b3bd82;
}

#memory,
#cpu,
#temperature,
#pulseaudio,
#network,
#battery,
#clock,
#tray,
#custom-notification,
#custom-lock,
#custom-quit,
#custom-power,
#custom-reboot {
  margin-left: 1rem;
  margin-right: 1rem;
}


